@font-face {
    font-family: 'Panic 3';
    src: url('fonts/PANIC 3.ttf');
}
@font-face {
    font-family: 'Tommy Soft';
    src: url('fonts/MADE Tommy Soft Black PERSONAL USE.otf');
}



body {
    background-color: #6B3453;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 80%;
}
nav{
    background-color: #BF99AE;
    color:#6B3453;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 17%;
    right: 2%;
    padding: 5%;
    font-family: 'PANIC 3';
    font-size: 15pt;
    width: 12%; 
    border-radius: 10px;
    text-align: left;
}

nav a {
    color:#6B3453;
    text-align: left;
}
nav a:hover {
    color: #BF99AE;
    opacity: .5;
    background-color: #6B3453;
}
header {
    font-family: 'Tommy Soft';
    font-size: 140px;
    color: #BF99AE;
    top: 3%;
    left: 5%;
    padding-left: 5%;
}
header img:hover {
    background-color: #BF99AE;
    opacity: .5;
}
/*h1{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 70px 70px 70px 70px;
    color:#6B3453;
    background-color: #BF99AE;
    font-family: 'PANIC 3';
    max-width: 40%;
    min-width: none;
    border-radius: 10px;
}*/
section {
    display: flex;
    flex-direction: row;
    background-color: #212642;
    margin: 10px 10px 10px 10px;
    font-family: 'PANIC 3';
    color: #7583C1;
    flex-wrap: wrap;
    max-width: 40%;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    align-items: flex-start;
    align-content: flex-start;
}
footer {
    font-family: 'PANIC 3';
    text-align: right;
    color: #7583C1;
    font-size: 20px;
    position: fixed;
    bottom: 3%;
    right: 3%;
}
text {
    font-family: 'PANIC 3';
    text-align: right;
    color: #7583C1;
    font-size: 20px;
    position: fixed;
    bottom: 3%;
    right: 3%;
}
text:hover {
    color: #BF99AE;
    opacity: 50%;
}
a {
    text-decoration: none;
    color: #BF99AE;
}
a:hover {
    opacity: 50%;
    background-color: #7583C1;
}
img {
    min-width: 30%;
}

list:hover  {
    opacity: 50%;
    background-color: #7583C1;
}
.snoopy {
    text-align: right;
    padding: 2%; 
    width: 10%; 
    position: fixed;
    top: 0px;
    right: 0px;
}